<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="text">Tarefa: </label>
      <input
        type="text"
        name="text"
        class="form-control"
        placeholder="Tarefa"
        id="text"
        [(ngModel)]="task"
        required
      />
    </div>

    <div>
      <label for="description">Descrição: </label>
      <input
        type="text"
        name="description"
        class="form-control"
        placeholder="Descrição"
        id="description"
        [(ngModel)]="description"
        required
      />
    </div>

    <button type="submit" class="btn btn-block mb-2">Salvar tarefa</button>
    <button type="button" class="btn btn-block close-form" (click)="onClose()">
      Fechar
    </button>
  </form>
</div>
